.App {
  text-align: center;
   /* background-image: url(../src/img/Rasen.jpg); */
   min-height: 900px
  
}

.App-logo {
  height: 20vmin;
  background-image: url(../src/img/Rasen.jpg);
  margin-left: -200px; 
  margin-top: 15px;
  margin-bottom: 10px
}

.App-header {
  background-color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 400;
  color: #1A237E;
  padding-left: 20.000em;
  background-image: url(../src/img/Rasen.jpg);
}

body{
  /* Wenn ich das background-image rausnehme, habe ich oben eine Leiste weiß, wenn ich aber das drin lass steht es im footer auch, wo ich es nicht haben will. */
  /* background-image: url(../src/img/Rasen.jpg); */
  padding-left: 20px;
}

footer{
  background-image: url(../src/img/Rasen.jpg); 
  padding:4px;
  padding-Left: 20px;
}


.App-link {
  color: #61dafb;
  background-image: url(../src/img/Rasen.jpg);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
